#lostFoundForm {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#lostFoundForm input, 
#lostFoundForm textarea, 
#lostFoundForm select, 
#lostFoundForm button {
  padding: 8px;
  font-size: 16px;
}

#itemsList {
  max-width: 700px;
  margin: 20px auto;
}

.item-card {
  border: 1px solid #2183b1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.item-card img {
  max-width: 100%;
  margin-top: 10px;
}
